.button {
    width: 100%;
    max-width: 600px;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: rgb(214, 182, 40);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.button:hover {
    transition: .2s;
    background-color: rgb(189, 161, 35);
}