.container {
    width: 100%;
    background: white;
    border: 1px solid #999;
    padding: 20px;
    border-radius: 3px;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.profile p {
    margin: 0;
    font-weight: 500;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.image {
    width: 128px;
    height: 90px;
    object-fit: cover;
    object-position: 0px -40px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            -o-user-select: none;
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}