.container {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 130, 190, 0.514);
    gap: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: bold;
}

.info p {
    color: rgba(0, 28, 41, 0.712);
    margin: 0;
}

.info img {
    width: 32px;
    height: 32px;
}

.code {
    padding: 10px;
    background: rgba(0, 130, 190, 0.514);
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 28, 41, 0.712);
    cursor: pointer;
    transition: .2s;
}

.code p {
    margin: 0;
}

.code:hover {
    transition: .2s;
    background: rgba(0, 148, 216, 0.514);
    color: rgba(0, 15, 22, 0.712);
}