.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    /* max-width: 70%; */

    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form p {
    display: flex;
    justify-content: center;
}

.form img {
    width: 39px;
    display: flex;
    justify-content: center;
}