.container {
  display: grid;

  grid-template-columns: 220px auto;
  /* grid-template-rows: ; */

  grid-template-areas: 
  "sidemenu userprofile"
  "sidemenu lastupdates";

  background-color: rgba(153, 153, 153, 0.144);
}

.sideMenuContainer {
  grid-area: sidemenu;
}

.profileContainer {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
  grid-area: userprofile;
}