.container {
    display: grid;

    grid-template-columns: 220px auto auto;
    /* grid-template-rows: ; */

    grid-template-areas: 
    "sidemenu form instructions"
    "sidemenu userslist userslist"
    "sidemenu userslist userslist";

    background-color: rgba(153, 153, 153, 0.144);
}

.formContainer {
    grid-area: form;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.instructionContainer {
    grid-area: instructions;
    padding: 20px;
    /* width: 45%; */
    display: flex;
    align-items: center;
}

.sideMenuContainer {
    grid-area: sidemenu;
}

.cardContainer {
    grid-area: userslist;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px;
}

.crh_options {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    gap: 5px;
    width: 50%;
}

.approveBtn {
    width: 100%;
    max-width: 600px;
    padding: 3px;
    border: none;
    border-radius: 3px;
    background-color: #008000;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.approveBtn:hover {
    transition: .2s;
    background-color: #008000c7;
}

.cancelBtn {
    width: 100%;
    max-width: 600px;
    padding: 3px;
    border: none;
    border-radius: 3px;
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.cancelBtn:hover {
    transition: .2s;
    background-color: #ff0000c7;
}

.approvedDataline {
    background-color: green;
    border-radius: 3px;
    padding: 3px;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
}

.pendentDataline {
    background-color: #808080;
    border-radius: 3px;
    padding: 3px;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
}

.reprovedDataline {
    background-color: #ff0000;
    border-radius: 3px;
    padding: 3px;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
}