.container {
    display: flex;
    flex-direction: row;

    gap: 5px;
    margin-bottom: 5px;
}

.numberContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: rgb(87, 78, 0);
    font-weight: bold;
    background-color: rgb(206, 185, 0);
    font-size: 10px;
}

.numberContainer img {
    width: 12px;
    filter: invert(100%);
}

.text {
    font-weight: 200;
}