.container {
    width: 100%;
    max-width: 600px;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #999;
    color: white;
    font-weight: bold;
    transition: .2s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}