.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.formContainer {
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}