.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: whitesmoke;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    width: 220px;
    transition: .2s;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container img {
    width: 12px;
    filter: invert(100%);
}

.container:hover {
    background-color: #1a1a1a;
}