.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to right, #350000 , #880000);
    font-size: 13px;
    color: whitesmoke;
}

.container p {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.container img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}