.container {
    display: grid;

    grid-template-columns: 220px auto auto;
    /* grid-template-rows: ; */

    grid-template-areas: 
    "sidemenu form instructions"
    "sidemenu userslist userslist"
    "sidemenu userslist userslist";
}

.sideMenuContainer {
    grid-area: sidemenu;
}
